In [1]:
import json
import pandas as pd
import os
import glob

In [5]:
import csv
import ijson
mylist = []
#mylist1 = []
path = '/Users/karan/Downloads/leaderboard/input/'
data = []

for file_name in [file for file in os.listdir(path) if file.endswith('.json')]:
    with open(path + file_name,'r') as json_file:
        data = json.load(json_file)
        

    #mylist1.append(mylist1)
    
    mylist.append(data)
#print(mylist)
#stops['user'] = x['user']
#stops['steps'] = x['steps']
#stops['date'] = x['date']

In [6]:
print(mylist)

[{'date': '2016-07-14', 'steps': 3578, 'user': 10}, {'date': '2016-05-29', 'steps': 10674, 'user': 10}, {'date': '2016-06-11', 'steps': 5142, 'user': 4}, {'date': '2016-06-11', 'steps': 10642, 'user': 14}, {'date': '2016-07-01', 'steps': 7979, 'user': 5}, {'date': '2016-06-04', 'steps': 6651, 'user': 11}, {'date': '2016-07-01', 'steps': 8022, 'user': 15}, {'date': '2016-06-04', 'steps': 8130, 'user': 1}, {'date': '2016-06-05', 'steps': 4560, 'user': 6}, {'date': '2016-06-05', 'steps': 12245, 'user': 16}, {'date': '2016-06-10', 'steps': 10456, 'user': 13}, {'date': '2016-05-28', 'steps': 8197, 'user': 7}, {'date': '2016-07-15', 'steps': 6097, 'user': 7}, {'date': '2016-06-10', 'steps': 10924, 'user': 3}, {'date': '2016-07-15', 'steps': 3251, 'user': 17}, {'date': '2016-05-28', 'steps': 5316, 'user': 17}, {'date': '2016-05-23', 'steps': 4029, 'user': 9}, {'date': '2016-05-23', 'steps': 9578, 'user': 19}, {'date': '2016-06-12', 'steps': 11716, 'user': 1}, {'date': '2016-07-17', 'steps': 3348, 'user': 15}, {'date': '2016-06-12', 'steps': 11946, 'user': 11}, {'date': '2016-07-17', 'steps': 9580, 'user': 5}, {'date': '2016-06-07', 'steps': 4946, 'user': 14}, {'date': '2016-06-25', 'steps': 11316, 'user': 19}, {'date': '2016-06-07', 'steps': 3437, 'user': 4}, {'date': '2016-06-25', 'steps': 4952, 'user': 9}, {'date': '2016-07-02', 'steps': 12002, 'user': 10}, {'date': '2016-07-03', 'steps': 9854, 'user': 17}, {'date': '2016-06-06', 'steps': 7807, 'user': 3}, {'date': '2016-07-03', 'steps': 6089, 'user': 7}, {'date': '2016-06-06', 'steps': 6575, 'user': 13}, {'date': '2016-07-16', 'steps': 10338, 'user': 2}, {'date': '2016-06-13', 'steps': 8873, 'user': 16}, {'date': '2016-07-16', 'steps': 4682, 'user': 12}, {'date': '2016-06-13', 'steps': 6343, 'user': 6}, {'date': '2016-06-18', 'steps': 3490, 'user': 18}, {'date': '2016-06-18', 'steps': 9003, 'user': 8}, {'date': '2016-07-08', 'steps': 3351, 'user': 19}, {'date': '2016-07-08', 'steps': 10677, 'user': 9}, {'date': '2016-06-09', 'steps': 4711, 'user': 9}, {'date': '2016-06-09', 'steps': 9012, 'user': 19}, {'date': '2016-07-19', 'steps': 9147, 'user': 8}, {'date': '2016-05-24', 'steps': 12443, 'user': 8}, {'date': '2016-05-24', 'steps': 9545, 'user': 18}, {'date': '2016-07-19', 'steps': 5563, 'user': 18}, {'date': '2016-06-17', 'steps': 11384, 'user': 12}, {'date': '2016-07-12', 'steps': 10038, 'user': 6}, {'date': '2016-06-17', 'steps': 7532, 'user': 2}, {'date': '2016-07-12', 'steps': 6007, 'user': 16}, {'date': '2016-06-02', 'steps': 10297, 'user': 7}, {'date': '2016-07-07', 'steps': 4204, 'user': 13}, {'date': '2016-06-02', 'steps': 9136, 'user': 17}, {'date': '2016-07-07', 'steps': 4722, 'user': 3}, {'date': '2016-07-06', 'steps': 5353, 'user': 4}, {'date': '2016-06-03', 'steps': 10166, 'user': 10}, {'date': '2016-07-06', 'steps': 10426, 'user': 14}, {'date': '2016-07-13', 'steps': 7434, 'user': 11}, {'date': '2016-06-16', 'steps': 7186, 'user': 5}, {'date': '2016-07-13', 'steps': 11356, 'user': 1}, {'date': '2016-06-16', 'steps': 5246, 'user': 15}, {'date': '2016-06-29', 'steps': 3078, 'user': 16}, {'date': '2016-06-29', 'steps': 3825, 'user': 6}, {'date': '2016-06-28', 'steps': 6089, 'user': 1}, {'date': '2016-06-28', 'steps': 10912, 'user': 11}, {'date': '2016-07-11', 'steps': 9600, 'user': 3}, {'date': '2016-06-14', 'steps': 4654, 'user': 17}, {'date': '2016-07-11', 'steps': 12845, 'user': 13}, {'date': '2016-06-14', 'steps': 12737, 'user': 7}, {'date': '2016-07-04', 'steps': 5605, 'user': 16}, {'date': '2016-06-01', 'steps': 9522, 'user': 2}, {'date': '2016-07-04', 'steps': 9723, 'user': 6}, {'date': '2016-06-01', 'steps': 12841, 'user': 12}, {'date': '2016-06-22', 'steps': 6940, 'user': 18}, {'date': '2016-07-05', 'steps': 5947, 'user': 1}, {'date': '2016-07-05', 'steps': 11323, 'user': 11}, {'date': '2016-06-22', 'steps': 4939, 'user': 8}, {'date': '2016-07-10', 'steps': 6590, 'user': 14}, {'date': '2016-06-15', 'steps': 4283, 'user': 10}, {'date': '2016-07-10', 'steps': 6912, 'user': 4}, {'date': '2016-06-20', 'steps': 8948, 'user': 15}, {'date': '2016-06-02', 'steps': 7573, 'user': 18}, {'date': '2016-06-20', 'steps': 12197, 'user': 5}, {'date': '2016-06-02', 'steps': 4670, 'user': 8}, {'date': '2016-07-12', 'steps': 10190, 'user': 19}, {'date': '2016-07-12', 'steps': 12648, 'user': 9}, {'date': '2016-06-21', 'steps': 9256, 'user': 2}, {'date': '2016-06-21', 'steps': 10385, 'user': 12}, {'date': '2016-06-08', 'steps': 7632, 'user': 1}, {'date': '2016-05-30', 'steps': 11824, 'user': 15}, {'date': '2016-06-08', 'steps': 12520, 'user': 11}, {'date': '2016-05-30', 'steps': 4763, 'user': 5}, {'date': '2016-05-25', 'steps': 3945, 'user': 10}, {'date': '2016-07-18', 'steps': 6089, 'user': 10}, {'date': '2016-05-24', 'steps': 5985, 'user': 17}, {'date': '2016-07-19', 'steps': 9209, 'user': 17}, {'date': '2016-07-19', 'steps': 9737, 'user': 7}, {'date': '2016-05-24', 'steps': 5976, 'user': 7}, {'date': '2016-05-31', 'steps': 10519, 'user': 2}, {'date': '2016-06-09', 'steps': 6937, 'user': 16}, {'date': '2016-05-31', 'steps': 8369, 'user': 12}, {'date': '2016-06-09', 'steps': 6286, 'user': 6}, {'date': '2016-07-04', 'steps': 7093, 'user': 9}, {'date': '2016-06-23', 'steps': 3625, 'user': 10}, {'date': '2016-07-04', 'steps': 4461, 'user': 19}, {'date': '2016-06-14', 'steps': 4447, 'user': 8}, {'date': '2016-06-14', 'steps': 3208, 'user': 18}, {'date': '2016-06-22', 'steps': 3247, 'user': 7}, {'date': '2016-06-22', 'steps': 8839, 'user': 17}, {'date': '2016-06-29', 'steps': 3747, 'user': 9}, {'date': '2016-06-29', 'steps': 11076, 'user': 19}, {'date': '2016-05-26', 'steps': 9735, 'user': 5}, {'date': '2016-05-26', 'steps': 10436, 'user': 15}, {'date': '2016-05-27', 'steps': 8947, 'user': 12}, {'date': '2016-05-27', 'steps': 7232, 'user': 2}, {'date': '2016-05-23', 'steps': 7973, 'user': 16}, {'date': '2016-05-23', 'steps': 10145, 'user': 6}, {'date': '2016-05-22', 'steps': 12216, 'user': 1}, {'date': '2016-05-22', 'steps': 8864, 'user': 11}, {'date': '2016-06-26', 'steps': 3402, 'user': 3}, {'date': '2016-06-26', 'steps': 7547, 'user': 13}, {'date': '2016-07-15', 'steps': 12635, 'user': 18}, {'date': '2016-05-28', 'steps': 3238, 'user': 18}, {'date': '2016-05-28', 'steps': 8721, 'user': 8}, {'date': '2016-07-15', 'steps': 6318, 'user': 8}, {'date': '2016-06-27', 'steps': 10486, 'user': 14}, {'date': '2016-06-05', 'steps': 11664, 'user': 19}, {'date': '2016-06-27', 'steps': 10040, 'user': 4}, {'date': '2016-06-05', 'steps': 6021, 'user': 9}, {'date': '2016-07-08', 'steps': 9440, 'user': 6}, {'date': '2016-07-08', 'steps': 10784, 'user': 16}, {'date': '2016-06-18', 'steps': 6279, 'user': 7}, {'date': '2016-06-18', 'steps': 6034, 'user': 17}, {'date': '2016-06-19', 'steps': 9172, 'user': 10}, {'date': '2016-07-09', 'steps': 5000, 'user': 11}, {'date': '2016-07-09', 'steps': 12850, 'user': 1}, {'date': '2016-06-25', 'steps': 6680, 'user': 6}, {'date': '2016-07-20', 'steps': 5058, 'user': 12}, {'date': '2016-06-25', 'steps': 8166, 'user': 16}, {'date': '2016-07-20', 'steps': 5455, 'user': 2}, {'date': '2016-06-30', 'steps': 11389, 'user': 13}, {'date': '2016-06-30', 'steps': 9770, 'user': 3}, {'date': '2016-06-13', 'steps': 3469, 'user': 9}, {'date': '2016-06-13', 'steps': 6873, 'user': 19}, {'date': '2016-07-21', 'steps': 5321, 'user': 5}, {'date': '2016-06-24', 'steps': 11064, 'user': 11}, {'date': '2016-07-03', 'steps': 8636, 'user': 8}, {'date': '2016-07-21', 'steps': 7165, 'user': 15}, {'date': '2016-07-03', 'steps': 7557, 'user': 18}, {'date': '2016-06-24', 'steps': 10625, 'user': 1}, {'date': '2016-06-24', 'steps': 8169, 'user': 6}, {'date': '2016-07-21', 'steps': 5301, 'user': 12}, {'date': '2016-06-24', 'steps': 7004, 'user': 16}, {'date': '2016-07-21', 'steps': 8853, 'user': 2}, {'date': '2016-06-12', 'steps': 4899, 'user': 9}, {'date': '2016-06-30', 'steps': 9672, 'user': 4}, {'date': '2016-06-12', 'steps': 12107, 'user': 19}, {'date': '2016-06-30', 'steps': 10895, 'user': 14}, {'date': '2016-07-20', 'steps': 5243, 'user': 5}, {'date': '2016-07-02', 'steps': 7104, 'user': 8}, {'date': '2016-06-25', 'steps': 6664, 'user': 11}, {'date': '2016-07-20', 'steps': 7611, 'user': 15}, {'date': '2016-06-25', 'steps': 10132, 'user': 1}, {'date': '2016-07-02', 'steps': 7089, 'user': 18}, {'date': '2016-07-09', 'steps': 8721, 'user': 6}, {'date': '2016-07-09', 'steps': 8695, 'user': 16}, {'date': '2016-06-19', 'steps': 10718, 'user': 7}, {'date': '2016-06-19', 'steps': 11290, 'user': 17}, {'date': '2016-06-18', 'steps': 12169, 'user': 10}, {'date': '2016-07-08', 'steps': 8243, 'user': 11}, {'date': '2016-07-08', 'steps': 11146, 'user': 1}, {'date': '2016-06-27', 'steps': 12984, 'user': 3}, {'date': '2016-06-27', 'steps': 8874, 'user': 13}, {'date': '2016-05-29', 'steps': 4746, 'user': 18}, {'date': '2016-07-14', 'steps': 6220, 'user': 18}, {'date': '2016-07-14', 'steps': 11943, 'user': 8}, {'date': '2016-05-29', 'steps': 3210, 'user': 8}, {'date': '2016-06-26', 'steps': 4282, 'user': 14}, {'date': '2016-06-04', 'steps': 5398, 'user': 19}, {'date': '2016-06-26', 'steps': 9544, 'user': 4}, {'date': '2016-06-04', 'steps': 9329, 'user': 9}, {'date': '2016-05-22', 'steps': 7965, 'user': 16}, {'date': '2016-05-22', 'steps': 9022, 'user': 6}, {'date': '2016-05-23', 'steps': 5451, 'user': 1}, {'date': '2016-05-23', 'steps': 10281, 'user': 11}, {'date': '2016-06-28', 'steps': 3509, 'user': 9}, {'date': '2016-06-28', 'steps': 3565, 'user': 19}, {'date': '2016-05-27', 'steps': 8410, 'user': 5}, {'date': '2016-05-27', 'steps': 3660, 'user': 15}, {'date': '2016-05-26', 'steps': 10562, 'user': 12}, {'date': '2016-05-26', 'steps': 12352, 'user': 2}, {'date': '2016-06-22', 'steps': 12349, 'user': 10}, {'date': '2016-07-05', 'steps': 11354, 'user': 9}, {'date': '2016-07-05', 'steps': 5760, 'user': 19}, {'date': '2016-06-15', 'steps': 11632, 'user': 8}, {'date': '2016-06-15', 'steps': 8317, 'user': 18}, {'date': '2016-06-23', 'steps': 5292, 'user': 7}, {'date': '2016-06-23', 'steps': 4533, 'user': 17}, {'date': '2016-06-09', 'steps': 10649, 'user': 1}, {'date': '2016-05-31', 'steps': 11854, 'user': 15}, {'date': '2016-06-09', 'steps': 5124, 'user': 11}, {'date': '2016-05-31', 'steps': 10187, 'user': 5}, {'date': '2016-07-19', 'steps': 7229, 'user': 10}, {'date': '2016-05-24', 'steps': 9892, 'user': 10}, {'date': '2016-07-18', 'steps': 10347, 'user': 17}, {'date': '2016-05-25', 'steps': 10499, 'user': 17}, {'date': '2016-05-25', 'steps': 11327, 'user': 7}, {'date': '2016-07-18', 'steps': 8583, 'user': 7}, {'date': '2016-05-30', 'steps': 11903, 'user': 2}, {'date': '2016-06-08', 'steps': 10185, 'user': 16}, {'date': '2016-05-30', 'steps': 5364, 'user': 12}, {'date': '2016-06-08', 'steps': 4930, 'user': 6}, {'date': '2016-06-21', 'steps': 9950, 'user': 15}, {'date': '2016-06-03', 'steps': 9599, 'user': 18}, {'date': '2016-06-21', 'steps': 10873, 'user': 5}, {'date': '2016-06-03', 'steps': 7735, 'user': 8}, {'date': '2016-07-13', 'steps': 9459, 'user': 19}, {'date': '2016-07-13', 'steps': 11722, 'user': 9}, {'date': '2016-06-20', 'steps': 5507, 'user': 2}, {'date': '2016-06-20', 'steps': 8223, 'user': 12}, {'date': '2016-07-10', 'steps': 10735, 'user': 3}, {'date': '2016-06-15', 'steps': 6391, 'user': 17}, {'date': '2016-07-10', 'steps': 9405, 'user': 13}, {'date': '2016-06-15', 'steps': 8063, 'user': 7}, {'date': '2016-07-05', 'steps': 10023, 'user': 16}, {'date': '2016-07-05', 'steps': 3807, 'user': 6}, {'date': '2016-06-01', 'steps': 12895, 'user': 15}, {'date': '2016-07-04', 'steps': 4129, 'user': 1}, {'date': '2016-06-23', 'steps': 7885, 'user': 18}, {'date': '2016-06-01', 'steps': 4843, 'user': 5}, {'date': '2016-06-23', 'steps': 6550, 'user': 8}, {'date': '2016-07-04', 'steps': 8311, 'user': 11}, {'date': '2016-07-11', 'steps': 6560, 'user': 14}, {'date': '2016-06-14', 'steps': 6686, 'user': 10}, {'date': '2016-07-11', 'steps': 3877, 'user': 4}, {'date': '2016-06-28', 'steps': 10304, 'user': 16}, {'date': '2016-06-28', 'steps': 7264, 'user': 6}, {'date': '2016-06-29', 'steps': 8925, 'user': 1}, {'date': '2016-06-29', 'steps': 3305, 'user': 11}, {'date': '2016-06-16', 'steps': 4170, 'user': 12}, {'date': '2016-07-13', 'steps': 12167, 'user': 6}, {'date': '2016-06-16', 'steps': 10882, 'user': 2}, {'date': '2016-07-13', 'steps': 3756, 'user': 16}, {'date': '2016-06-03', 'steps': 7628, 'user': 7}, {'date': '2016-07-06', 'steps': 4272, 'user': 13}, {'date': '2016-06-03', 'steps': 3663, 'user': 17}, {'date': '2016-07-06', 'steps': 9443, 'user': 3}, {'date': '2016-07-07', 'steps': 6218, 'user': 4}, {'date': '2016-06-02', 'steps': 5308, 'user': 10}, {'date': '2016-07-07', 'steps': 4245, 'user': 14}, {'date': '2016-07-12', 'steps': 4638, 'user': 11}, {'date': '2016-06-17', 'steps': 11750, 'user': 5}, {'date': '2016-07-12', 'steps': 12171, 'user': 1}, {'date': '2016-06-17', 'steps': 4361, 'user': 15}, {'date': '2016-06-08', 'steps': 5428, 'user': 9}, {'date': '2016-06-08', 'steps': 3681, 'user': 19}, {'date': '2016-05-25', 'steps': 8091, 'user': 8}, {'date': '2016-07-18', 'steps': 5179, 'user': 8}, {'date': '2016-07-18', 'steps': 12964, 'user': 18}, {'date': '2016-05-25', 'steps': 9072, 'user': 18}, {'date': '2016-06-19', 'steps': 7107, 'user': 18}, {'date': '2016-06-19', 'steps': 7939, 'user': 8}, {'date': '2016-07-09', 'steps': 4570, 'user': 19}, {'date': '2016-07-09', 'steps': 3959, 'user': 9}, {'date': '2016-06-13', 'steps': 6082, 'user': 1}, {'date': '2016-07-16', 'steps': 5248, 'user': 15}, {'date': '2016-06-13', 'steps': 10032, 'user': 11}, {'date': '2016-07-16', 'steps': 12436, 'user': 5}, {'date': '2016-06-06', 'steps': 8850, 'user': 14}, {'date': '2016-06-24', 'steps': 4121, 'user': 19}, {'date': '2016-06-06', 'steps': 10043, 'user': 4}, {'date': '2016-07-03', 'steps': 12530, 'user': 10}, {'date': '2016-06-24', 'steps': 12749, 'user': 9}, {'date': '2016-07-02', 'steps': 9140, 'user': 17}, {'date': '2016-06-07', 'steps': 5615, 'user': 3}, {'date': '2016-07-02', 'steps': 12453, 'user': 7}, {'date': '2016-06-07', 'steps': 10877, 'user': 13}, {'date': '2016-07-17', 'steps': 6617, 'user': 2}, {'date': '2016-06-12', 'steps': 8839, 'user': 16}, {'date': '2016-07-17', 'steps': 11204, 'user': 12}, {'date': '2016-06-12', 'steps': 3341, 'user': 6}, {'date': '2016-05-22', 'steps': 3002, 'user': 9}, {'date': '2016-05-22', 'steps': 5958, 'user': 19}, {'date': '2016-05-28', 'steps': 10152, 'user': 10}, {'date': '2016-07-15', 'steps': 6608, 'user': 10}, {'date': '2016-06-10', 'steps': 8007, 'user': 4}, {'date': '2016-06-10', 'steps': 10455, 'user': 14}, {'date': '2016-06-05', 'steps': 4721, 'user': 11}, {'date': '2016-06-05', 'steps': 5078, 'user': 1}, {'date': '2016-06-04', 'steps': 11693, 'user': 6}, {'date': '2016-07-01', 'steps': 11587, 'user': 12}, {'date': '2016-06-04', 'steps': 9560, 'user': 16}, {'date': '2016-07-01', 'steps': 4952, 'user': 2}, {'date': '2016-06-11', 'steps': 9366, 'user': 13}, {'date': '2016-07-14', 'steps': 12213, 'user': 7}, {'date': '2016-05-29', 'steps': 12507, 'user': 7}, {'date': '2016-06-11', 'steps': 8046, 'user': 3}, {'date': '2016-05-29', 'steps': 11796, 'user': 17}, {'date': '2016-07-14', 'steps': 3880, 'user': 17}, {'date': '2016-05-29', 'steps': 10427, 'user': 19}, {'date': '2016-07-14', 'steps': 9237, 'user': 19}, {'date': '2016-07-14', 'steps': 8624, 'user': 9}, {'date': '2016-05-29', 'steps': 12255, 'user': 9}, {'date': '2016-06-04', 'steps': 5423, 'user': 18}, {'date': '2016-06-26', 'steps': 4062, 'user': 15}, {'date': '2016-06-04', 'steps': 12640, 'user': 8}, {'date': '2016-06-26', 'steps': 10049, 'user': 5}, {'date': '2016-06-27', 'steps': 3409, 'user': 2}, {'date': '2016-06-27', 'steps': 6158, 'user': 12}, {'date': '2016-05-23', 'steps': 3927, 'user': 10}, {'date': '2016-05-22', 'steps': 5947, 'user': 17}, {'date': '2016-05-22', 'steps': 6450, 'user': 7}, {'date': '2016-06-30', 'steps': 10102, 'user': 5}, {'date': '2016-06-12', 'steps': 11391, 'user': 8}, {'date': '2016-06-30', 'steps': 5581, 'user': 15}, {'date': '2016-06-12', 'steps': 7451, 'user': 18}, {'date': '2016-07-02', 'steps': 6918, 'user': 9}, {'date': '2016-06-25', 'steps': 7800, 'user': 10}, {'date': '2016-07-20', 'steps': 11297, 'user': 4}, {'date': '2016-07-02', 'steps': 6207, 'user': 19}, {'date': '2016-07-20', 'steps': 5887, 'user': 14}, {'date': '2016-07-21', 'steps': 3436, 'user': 13}, {'date': '2016-06-24', 'steps': 12321, 'user': 7}, {'date': '2016-07-21', 'steps': 7621, 'user': 3}, {'date': '2016-06-24', 'steps': 11802, 'user': 17}, {'date': '2016-06-18', 'steps': 4137, 'user': 11}, {'date': '2016-06-18', 'steps': 12563, 'user': 1}, {'date': '2016-07-08', 'steps': 11473, 'user': 10}, {'date': '2016-07-09', 'steps': 9846, 'user': 7}, {'date': '2016-07-09', 'steps': 11716, 'user': 17}, {'date': '2016-06-19', 'steps': 6009, 'user': 6}, {'date': '2016-06-19', 'steps': 12151, 'user': 16}, {'date': '2016-07-18', 'steps': 3481, 'user': 16}, {'date': '2016-05-25', 'steps': 8668, 'user': 16}, {'date': '2016-05-25', 'steps': 4948, 'user': 6}, {'date': '2016-07-18', 'steps': 7743, 'user': 6}, {'date': '2016-06-08', 'steps': 11338, 'user': 17}, {'date': '2016-05-30', 'steps': 8702, 'user': 3}, {'date': '2016-06-08', 'steps': 4850, 'user': 7}, {'date': '2016-05-30', 'steps': 6578, 'user': 13}, {'date': '2016-05-31', 'steps': 4933, 'user': 14}, {'date': '2016-05-31', 'steps': 6100, 'user': 4}, {'date': '2016-06-09', 'steps': 10606, 'user': 10}, {'date': '2016-05-24', 'steps': 10819, 'user': 1}, {'date': '2016-07-19', 'steps': 10391, 'user': 1}, {'date': '2016-07-19', 'steps': 12027, 'user': 11}, {'date': '2016-05-24', 'steps': 3978, 'user': 11}, {'date': '2016-06-20', 'steps': 8224, 'user': 3}, {'date': '2016-06-20', 'steps': 7419, 'user': 13}, {'date': '2016-06-03', 'steps': 4178, 'user': 19}, {'date': '2016-06-21', 'steps': 11868, 'user': 14}, {'date': '2016-06-03', 'steps': 3081, 'user': 9}, {'date': '2016-06-21', 'steps': 10611, 'user': 4}, {'date': '2016-07-13', 'steps': 4390, 'user': 18}, {'date': '2016-07-13', 'steps': 3339, 'user': 8}, {'date': '2016-05-26', 'steps': 12493, 'user': 13}, {'date': '2016-05-26', 'steps': 12160, 'user': 3}, {'date': '2016-06-28', 'steps': 6049, 'user': 8}, {'date': '2016-06-28', 'steps': 9568, 'user': 18}, {'date': '2016-05-27', 'steps': 5972, 'user': 4}, {'date': '2016-05-27', 'steps': 9211, 'user': 14}, {'date': '2016-06-23', 'steps': 4310, 'user': 6}, {'date': '2016-06-23', 'steps': 8098, 'user': 16}, {'date': '2016-06-22', 'steps': 4591, 'user': 11}, {'date': '2016-07-05', 'steps': 6846, 'user': 8}, {'date': '2016-07-05', 'steps': 6141, 'user': 18}, {'date': '2016-06-22', 'steps': 12703, 'user': 1}, {'date': '2016-06-15', 'steps': 7532, 'user': 9}, {'date': '2016-06-15', 'steps': 12276, 'user': 19}, {'date': '2016-06-02', 'steps': 9911, 'user': 11}, {'date': '2016-07-07', 'steps': 4960, 'user': 5}, {'date': '2016-06-02', 'steps': 10924, 'user': 1}, {'date': '2016-07-07', 'steps': 11651, 'user': 15}, {'date': '2016-06-17', 'steps': 3678, 'user': 4}, {'date': '2016-07-12', 'steps': 7684, 'user': 10}, {'date': '2016-06-17', 'steps': 12284, 'user': 14}, {'date': '2016-07-13', 'steps': 8316, 'user': 7}, {'date': '2016-06-16', 'steps': 11516, 'user': 13}, {'date': '2016-07-13', 'steps': 3536, 'user': 17}, {'date': '2016-06-16', 'steps': 12570, 'user': 3}, {'date': '2016-07-06', 'steps': 9692, 'user': 12}, {'date': '2016-06-03', 'steps': 5267, 'user': 6}, {'date': '2016-07-06', 'steps': 4454, 'user': 2}, {'date': '2016-06-03', 'steps': 11993, 'user': 16}, {'date': '2016-06-08', 'steps': 8333, 'user': 8}, {'date': '2016-06-08', 'steps': 7049, 'user': 18}, {'date': '2016-05-25', 'steps': 11908, 'user': 9}, {'date': '2016-07-18', 'steps': 6707, 'user': 9}, {'date': '2016-07-18', 'steps': 4349, 'user': 19}, {'date': '2016-05-25', 'steps': 8614, 'user': 19}, {'date': '2016-06-23', 'steps': 10513, 'user': 19}, {'date': '2016-06-01', 'steps': 10550, 'user': 14}, {'date': '2016-06-23', 'steps': 11123, 'user': 9}, {'date': '2016-07-04', 'steps': 9073, 'user': 10}, {'date': '2016

In [27]:
col = [
    "user",
    "steps",
    "date"]
out = pd.DataFrame(mylist, columns=col)

In [54]:
new_data = out

In [9]:
grp = out.groupby('user')

new = out.groupby(["user"]).apply(lambda x: x.sort_values(["steps"], ascending = False))

In [10]:
grp.get_group(1)['steps'].sum()

514759

In [11]:
x = out.groupby(['user'])['steps'].sum().sort_values(ascending=False).head(20)

In [12]:
x = x.to_frame()

In [13]:
x['total_steps'] = x['steps']

In [14]:
x = x.drop('steps',axis=1)

In [20]:
x = x.reset_index()

In [21]:
Output= x

In [23]:
Output.shape

(19, 2)

In [26]:
Output

    user  total_steps
0      1       514759
1     16       513474
2     10       510998
3     19       507593
4     12       506547
5      4       502419
6     13       500501
7      7       499917
8      6       497819
9      3       497548
10    11       491540
11    14       481112
12    17       478538
13     5       477036
14     9       474877
15     8       473996
16     2       472841
17    18       467978
18    15       466347

In [24]:
Output.to_csv('Output_new.csv',index=False)

### Working on Date Time

In [55]:
new_data.head()

   user  steps       date
0    10   3578 2016-07-14
1    10  10674 2016-05-29
2     4   5142 2016-06-11
3    14  10642 2016-06-11
4     5   7979 2016-07-01

In [56]:
new_data['date'] = pd.to_datetime(new_data['date'])

In [57]:
new_data = new_data.set_index('date')

In [58]:
new_data.head()

            user  steps
date
2016-07-14    10   3578
2016-05-29    10  10674
2016-06-11     4   5142
2016-06-11    14  10642
2016-07-01     5   7979

In [59]:
new_data[new_data.index.day==2]  # to check for day 2

            user  steps
date
2016-07-02    10  12002
2016-06-02     7  10297
2016-06-02    17   9136
2016-06-02    18   7573
2016-06-02     8   4670
2016-07-02     8   7104
2016-07-02    18   7089
2016-06-02    10   5308
2016-07-02    17   9140
2016-07-02     7  12453
2016-07-02     9   6918
2016-07-02    19   6207
2016-06-02    11   9911
2016-06-02     1  10924
2016-07-02    16   4454
2016-07-02     6   9446
2016-07-02     1   5637
2016-07-02    11   8590
2016-06-02     6  10132
2016-06-02    16  10243
2016-06-02    19  12360
2016-06-02     9   4545
2016-07-02     4   7107
2016-07-02    14  10259
2016-06-02     3  10443
2016-06-02    13   4615
2016-06-02    14  11825
2016-06-02     4   7287
2016-07-02    13   7056
2016-07-02     3   4515
2016-06-02    15   8218
2016-06-02     5  12328
2016-07-02    12   4644
2016-07-02     2  10815
2016-07-02     5  11954
2016-07-02    15   5067
2016-06-02     2   6166
2016-06-02    12   5438

In [60]:
new_data['2016-06-13']

            user  steps
date
2016-06-13    16   8873
2016-06-13     6   6343
2016-06-13     9   3469
2016-06-13    19   6873
2016-06-13     1   6082
2016-06-13    11  10032
2016-06-13    10   5848
2016-06-13    17   9041
2016-06-13     7   6113
2016-06-13     8  12137
2016-06-13    18   5584
2016-06-13    12  10385
2016-06-13     2   4000
2016-06-13     5   6884
2016-06-13    15  10350
2016-06-13     4   8711
2016-06-13    14   5834
2016-06-13    13  11388
2016-06-13     3   6413

In [61]:
new_data.resample('W').sum()  # weekly sum

            user    steps
date
2016-05-22   190   139877
2016-05-29  1330  1090109
2016-06-05  1330  1126789
2016-06-12  1330  1037429
2016-06-19  1330  1045992
2016-06-26  1330  1090595
2016-07-03  1330  1072988
2016-07-10  1330  1066768
2016-07-17  1330  1085200
2016-07-24   760   580093

In [48]:
#new_data = new_data.drop('user',axis=1)

In [62]:
new_data.resample('W').sum()  # weekly total steps

            user    steps
date
2016-05-22   190   139877
2016-05-29  1330  1090109
2016-06-05  1330  1126789
2016-06-12  1330  1037429
2016-06-19  1330  1045992
2016-06-26  1330  1090595
2016-07-03  1330  1072988
2016-07-10  1330  1066768
2016-07-17  1330  1085200
2016-07-24   760   580093

In [63]:
new_data.resample('M').sum()  # monthly total steps

            user    steps
date
2016-05-31  1900  1558390
2016-06-30  5700  4571005
2016-07-31  3990  3206445

In [64]:
new_data.resample('D').sum()  # daily total steps

            user   steps
date
2016-05-22   190  139877
2016-05-23   190  140373
2016-05-24   190  168601
2016-05-25   190  178588
2016-05-26   190  161893
...          ...     ...
2016-07-17   190  162143
2016-07-18   190  151623
2016-07-19   190  165223
2016-07-20   190  135787
2016-07-21   190  127460

[61 rows x 2 columns]

### Weekly Total Steps by per user

In [79]:
g1 = new_data.groupby([pd.Grouper(freq='W'),'user'])
result_week = g1['steps'].sum().unstack('user').fillna(0)

In [80]:
result_week  # Weekly total steps by per user

user,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
date,,,,,,,,,,,,,,,,,,,
2016-05-22,12216,10661,7061,11841,3226,9022,6450,8205,3002,4959,8864,4206,7376,7057,12744,7965,5947,3117,5958
2016-05-29,57442,50619,59436,61230,66617,61790,54242,63992,60718,47822,56508,60491,62380,58461,53359,51938,44899,51586,66579
2016-06-05,50293,61023,67109,55071,50454,62394,52405,54367,50548,69125,64817,62827,43998,58836,76174,76840,55323,54602,60583
2016-06-12,61064,54382,58405,55346,34179,37831,54265,56180,51175,65042,52025,46582,60913,56237,48587,55216,63453,65350,61197
2016-06-19,61445,53141,51547,51617,57671,53352,68266,58464,52154,51765,55743,67582,65317,54421,43958,64686,44251,38033,52579
2016-06-26,70573,60626,49300,63401,64171,62214,51432,47833,55127,60626,56922,55921,46947,40985,57973,57307,66205,53584,69448
2016-07-03,66094,44840,61588,58918,62622,54825,53182,46474,56331,67685,66753,46041,64979,70453,48211,44594,51464,53683,54251
2016-07-10,48510,51825,59750,55920,42833,56402,55197,61095,59349,64214,55234,64602,54637,53930,52941,67001,66129,53478,43721
2016-07-17,58050,50365,52886,49004,66803,67546,64737,45091,62859,48305,49904,66646,68778,55582,43345,65151,43263,61622,65263
2016-07-24,29072,35359,30466,40071,28460,32443,39741,32295,23614,31455,24770,31649,25176,25150,29055,22776,37604,32923,28014

### Monthly Total step count by per user

In [81]:
g1 = new_data.groupby([pd.Grouper(freq='M'),'user'])
result_mon = g1['steps'].sum().unstack('user').fillna(0)
result_mon

user,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
date,,,,,,,,,,,,,,,,,,,
2016-05-31,83722,83702,84009,86615,84793,90770,75620,84715,85567,72760,86065,78430,87345,78469,89781,80217,65580,69778,90452
2016-06-30,268930,229114,247731,245557,222669,222556,236858,229102,213781,264291,242641,244725,239583,240068,232904,259260,240784,230781,259670
2016-07-31,162107,160025,165808,170247,169574,184493,187439,160179,175529,173947,162834,183392,173573,162575,143662,173997,172174,167419,157471